<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <meta name = "viewport" content="width=device-width", initial-scale="1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title> Treasurer Page</title> 
</head>
<div class = "container">
    <ul class = "nav"> 
        <li style="float:left"><a href="Treasurer.html">Treasurer</a></li>    <!-- make this so when hovered, it does not change colours -->
        <li style="float:right"><a href="Home.html">Home</a></li>
        <li style="float:left"><a href="MemberTable.html">Members</a></li>
        <li style="float:left"><a class="active">Scheduled</a></li>
        <li style="float:right"><a href="Login.html">Log out</a></li>
    </ul>      
</div>

<body>
    <div class = schedule>
    <ul>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
        <br>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
        <br>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
        <br>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
        <br>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
        <br>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
        <br>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
        <br>
        <li>
          <a>
            <h2>DATE</h2>
            <p>Location</p>
            <p>Special instructions</p>
          </a>
        </li>
      </ul>
    </div>
</body>

<style>

    ul.nav{
        background-origin: red;
        font-size: 30px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .schedule {
        ul {
            list-style-type: none;
            padding-right: 40px;
            
        }

        li a {
        background-color: rgb(207, 202, 202);
        display: block;
        color: black;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        border-radius: 10px;
        }

        li a:hover {
            background-color: #bee09c;
            border-radius: 10px;
            border-color: black;
        }
        
        .active {
            background-color: #8aade0;
        }
    }

    </style>

</html>